:root {
    --container-width: 1440px;
    --color-border: #e0e1e6;
    --color-active: #313133;
    --color-text-gray: #8d8d8d;
    --color-text-red: #760135;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Сброс стилей для списков */
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    line-height: 1.5;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 60px;
}

.header__top {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 60px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
    border-bottom: 1px solid var(--color-border);
}

.header__nav-top-list {
    display: flex;
    gap: 16px;
}

.header__nav-top-item {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-text-gray);
    cursor: pointer;
}

.header__nav-top-item--active {
    color: var(--color-active);
    font-weight: 500;
}

.header__nav-top-item:nth-child(3)::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: var(--color-border);
    margin-right: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.header__nav-top-item::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-text-red);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.header__nav-top-item:hover::after {
    opacity: 1;
}

.header__contacts {
    display: flex;
    justify-content: center;
}

.header__phone {
    color: var(--color-text-red);
    font-weight: 500;
    font-size: 15px;
}

.header__city-btn {
    position: relative;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #0d0d0d;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 20px;
    margin-left: 17px;
}

.header__city-btn::before {
    color: #0d0d0d;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('/src/images/icons/location.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header__lang-btn {
    margin-left: 15px;
    background: none;
    border: none;
    cursor: pointer;
}

.header__bottom {
    display: flex;
    margin-top: 16px;
    align-items: center;
}

.header__nav-bottom-list {
    display: flex;
    gap: 16px;
}

.header__logo {
    margin-right: 20px;
}

/* Медиа-запросы */
@media (max-width: 1200px) {
    /* Медия запросы для планшетов */
}

@media (max-width: 768px) {
    /* Медия запросы для мобильных */
}
